
:root {
    --b5: #0B5F8E ;
    --b4: #1D8EEB ;
    --b3: #38B6FF ;
    --b2: #5FC0F8;
    --b1: #A0E1FF;

    --bg: #ffffff;
    --bg-sec: #3f3f3f;
    --bg-invert: #f8f8f8;
    --bg-invert-sec: #b4b4b4;
    --txt: #f8f8f8;
    --txt-invert: #262626;

    --dw-bg: #28A745;
    --dw-ho: #277A3A;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--txt-invert);
    background-color: var(--bg);
    padding-top: 60px;
    margin: 0;
}


/*  Navbar  */
.sticky {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--b2);
    width: 100%;

    position: fixed;
    top: 0;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.sticky a {
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    color: var(--txt);
}

.sticky a:hover {
    color: var(--b5);
    border-color: var(--b5);
}

.sticky img {
    color : var(--txt-invert);
    text-decoration: none;
    padding: 5px;
    display: block;
    border-radius: 5px;
}


.language {
    cursor: pointer;
    object-fit: contain;
    width: 24px; /* Ajustement de la taille des drapeaux si nécessaire */
    height: 24px;
    opacity: 0.5;
    transition: opacity 0.3s, width 0.3s, height 0.3s;
}

.nav-right .language {
    margin-right: 10px; /* Espacement entre les drapeaux et les autres éléments à droite */
}

.language:hover {
    opacity: 0.75;
}

.language.active {
    opacity: 1;
    width: 32px;
    height: 32px;
}
